/*******************************************************************************
 *
 * 统计
 *
********************************************************************************/
/********************************************************
 * 统计首页
*********************************************************/
/* 数据统计 */
.statistic .statistic-container{

}
.statistic .statistic-container .body{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.statistic .statistic-container .item-box{
    display: flex;
    width: 2000px;
    height: 70px;
    text-align: center;
    background: #fff;
    border: solid 1px #e4e4e4;
    margin: 0 5px 0 0;
}
.statistic .statistic-container .item-box:last-child{
    margin: 0;
}

.statistic .statistic-container .item-box .i-head{
    display: inline-block;
    width: 70px;
    background: #199ED8;
    font-size: 25px;
    color: #fff;
    line-height: 70px;
}
.statistic .statistic-container .item-box .i-body{
    display: flex;
    flex:1;
    flex-direction: column;
    text-align: left;
    padding-left: 5px;
}
.statistic .statistic-container .item-box .i-body span:first-child{
    padding: 5px 0;
    color: #ccc;
    font-size: 12px;
}
.statistic .statistic-container .item-box .i-body span:last-child{
    font-size: 14px;
}
/* 趋势统计 */
.statistic .trend-statistic .chart-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
}
.statistic .trend-statistic .chart-container > div{
    display: flex;
    width: 100%;
    height: 300px;
}
.statistic .trend-statistic .chart-container > div > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    font-weight: bold;
}
.statistic .trend-statistic .chart-container .chart-box{
    position: relative;
    width: 100%;
    height: 100%;
}