/*******************************************************************************
 *
 * 公共
 *
********************************************************************************/


/*******************************************************************************
 *
 * Goods 商品
 *
********************************************************************************/
/********************************************************
 * 商品列表
*********************************************************/
.goods-index .btn-box{
    padding: 20px 0px 5px;
}
/********************************************************
 * 商品详情页
*********************************************************/
.goods-view .goods-content-box{
    border: solid 1px #e4e4e4;
    padding: 20px;
    background: #f2f2f2;
}
.goods-view .goods-content-box img{
    width: 100%;
}


