body {
    margin: 0px;
}

.preloader-box {
    position: absolute;
    display: flex;
    top: 0px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preloader-box #preloader-txt {
    font-size: 40px;
    margin-top: 20px;
}

/* 浮动按钮 */
.float-view {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 70px;
}

.float-view div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-view .page-num-box {
    flex: 1;
}

.float-view .page-num{
    font-size: 30px !important;
}

.float-view img{
    width:130px;
}

.float-view .txt {
    font-family: '微软雅黑';
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    font-size: 40px;
    margin: 0 5px;
}