html, body { height: 100%; }
body {
    margin: 0px;
}

#animation_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.book-box{
    position: relative;
}


#book_canvas{
    /*position: absolute; */
    display: block;
    background-color:rgba(255, 255, 255, 1.00);
    border-radius: 40px;
    overflow: hidden;
}

.book-box .page-num-box {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.book-box .page-num-box .page-num{
    background: #ffffffaa;
    border-radius: 20px;
    padding: 5px 30px;
    font-size: 30px;
}

.preloader-box {
    position: absolute;
    display: flex;
    top: 0px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preloader-box #preloader-txt {
    font-size: 40px;
    margin-top: 20px;
}

/* 浮动按钮 */
.float-view {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 70px;
}

.float-view div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-view .page-num-box {
    flex: 1;
}

.float-view img{
    width:130px;
}

.float-view .txt {
    font-family: '微软雅黑';
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    font-size: 40px;
    margin: 0 5px;
}